{namespace beer=MOC\Beer\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
<h1>Listing for Beer</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_beer" >
	<tr>
		<th><f:translate key="tx_beer_domain_model_beer.alcohol_by_volume" /></th>
		<th><f:translate key="tx_beer_domain_model_beer.name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{beers}" as="beer">
		<tr>
			<td><f:link.action action="show" arguments="{beer : beer}"> {beer.alcoholByVolume}</f:link.action></td>
			<td><f:link.action action="show" arguments="{beer : beer}"> <beer:BeerTitle beer="{beer}" /></f:link.action></td>
			<td><f:link.action action="edit" arguments="{beer : beer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{beer : beer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Beer</f:link.action>
</f:section>